@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Create a custom checkbox */
.checkmark {
  background-color: #e5e7eb;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 31px;
  left: 0;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
input:hover ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  border: 3px solid #fff;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
  border-width: 0 3px 3px 0;
  width: 14px;
  height: 23px;
  top: 7px;
  left: 13px;
  transform: rotate(45deg);
}